.statistics {
  margin-top: 50px;
  width: 600px;
  height: 100%;
  background-color: aqua;
}

.statList {
  display: flex;
  gap: 10px;
}

.title {
  width: 200px;

  margin-bottom: 30px;
  font-weight: 700;
  font-size: 56px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
